user  {{ nginx_user }};
error_log  {{ nginx_error_log }};
pid        {{ nginx_pidfile }};

{% block worker %}
worker_processes  {{ nginx_worker_processes }};
{% endblock %}

{% block events %}
events {
    worker_connections  {{ nginx_worker_connections }};
}
{% endblock %}

http {
{% block http %}
{% for server in servers %}
        server {{ server }};
{% endfor %}
    }
{% endblock %}
}
